<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>show</title>
  </head>
  <body>
    <h1>Campground : <%= camp.Title%></h1>
    <h2>Location : <%= camp.Location%></h2>
    <p><a href="/campground/<%=camp._id%>/edit">Edit</a></p>
  </body>
  <a href="/campground">back to show page</a>
</html>
